.Rproj.user
.Rhistory
.RData
.Ruserdata
ProjectManagement/
data/
sites/baseline/_book/
sites/baseline/images/
sites/baseline/.quarto/
*.css
*.csv
*.docx
*.html
*.json
*.js
*.pdf
*.png
*.rds
*.woff
*.xl*

.Rdata
.httr-oauth
.DS_Store

/.quarto/
